<h3>Collapsible</h3>
<div class="section">
  <app-code-snippet>import &#123; MzCollapsibleModule &#125; from 'ng2-materialize'</app-code-snippet>
</div>

<h5 class="light">Accordion</h5>

<div class="row">

  <mz-collapsible class="col s12 m8 l6" mode="accordion">

    <mz-collapsible-item *ngFor="let item of simpleCollapsibleItems">
      <mz-collapsible-item-header><i mz-icon-mdi [icon]="item.icon"></i>{{ item.header }}</mz-collapsible-item-header>
      <mz-collapsible-item-body><p>{{ item.body }}</p></mz-collapsible-item-body>
    </mz-collapsible-item>

  </mz-collapsible>

  <p class="col s12 m4 l6">
    Simple basic collapsible with datas from the component.
  </p>
</div>

<h5 class="light">Expandable</h5>

<div class="row">

  <mz-collapsible class="col s12 m8 l6" [mode]="'expandable'">

    <mz-collapsible-item>
      <mz-collapsible-item-header>First</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Second</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Third</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

  </mz-collapsible>

  <p class="col s12 m4 l6">
    Collapsible with expandable behavior style defined by <code class="language-markup">mode</code> input property.
  </p>
</div>

<h5 class="light">Popout</h5>

<div class="row">

  <mz-collapsible class="col s12 m8 l6"
    [mode]="'accordion'"
    [popout]="true"
  >

    <mz-collapsible-item>
      <mz-collapsible-item-header>First</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Second</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Third</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

  </mz-collapsible>

  <p class="col s12 m4 l6">
    A popout animation can be added to the collapsible when an item is clicked using <code class="language-markup">popout</code> input property.
  </p>
</div>

<h5 class="light">Preselected Section</h5>

<div class="row">

  <mz-collapsible class="col s12 m8 l6" [mode]="'expandable'">

    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>First</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Second</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Third</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </mz-collapsible-item-body>
    </mz-collapsible-item>

  </mz-collapsible>

  <p class="col s12 m4 l6">
    Preopen a section from a Collapsible using <code class="language-markup">active</code> input property on <code class="language-markup">mz-collapsible-item</code>.
  </p>
</div>

<div class="section">

    <h5 class="light">Playground</h5>

    <p>
      The <code class="language-markup">mz-collapsible-item</code> component can be dynamically manipulated when used with <code class="language-markup">*ngFor</code> allowing you to add, remove or replace items in the list.
    </p>

    <div class="row">

      <mz-collapsible class="col s12 m8 l6" mode="accordion">

        <mz-collapsible-item *ngFor="let item of playgroundCollapsibleItems">
          <mz-collapsible-item-header><i mz-icon-mdi [icon]="item.icon"></i>{{ item.header }}</mz-collapsible-item-header>
          <mz-collapsible-item-body><p>{{ item.body }}</p></mz-collapsible-item-body>
        </mz-collapsible-item>

      </mz-collapsible>

      <div class="col s12 m4 l6">

        <button mz-button (click)="add()">Add new item</button>
        <button mz-button (click)="remove()">Remove last item</button>
        <button mz-button (click)="replace()">Replace all</button>

      </div>
    </div>
  </div>

<div class="section">

  <h5 class="light">HTML Structure</h5>

<app-code-snippet>
&lt;mz-collapsible
  [mode]="'expandable'"
  [onClose]="closeFunctionCallback"
  [onOpen]="openFunctionCallback"
  [popout]="true">
  &lt;mz-collapsible-item [active]="true">
    &lt;mz-collapsible-item-header>
      First
    &lt;/mz-collapsible-item-header>
    &lt;mz-collapsible-item-body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    &lt;/mz-collapsible-item-body>
  &lt;/mz-collapsible-item>
&lt;/mz-collapsible>
</app-code-snippet>

</div>

<div class="section">

  <h5 class="light">Properties</h5>

  <div class="section">

    <h6 class="bold">mz-collapsible</h6>

    <p>
      Collapsibles can be customized using the following properties on the <code class="language-markup">mz-collapsible</code> element.
    </p>

    <app-properties-table
      [properties]="collapsibleProperties">
    </app-properties-table>
  </div>

  <div class="section">

    <h6 class="bold">mz-collapsible-item</h6>

    <p>
      <code class="language-markup">mz-collapsible-item</code> will transclude any contents.
    </p>

    <app-properties-table
      [properties]="collapsibleItemProperties">
    </app-properties-table>
  </div>
</div>
